.brotherRevelations {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  margin-top: 100px;
  margin: 20px;
  background-color: #f0f3f4;
  max-width: 100%;
}

.revImage {
  max-width: 100%;
  height: auto;
  width: 550px;
}

.revLore {
  margin-bottom: 100px;
  max-width: 520px;
  background-color: #ffffff;
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.brLore {
  margin-bottom: 100px;
  max-width: 520px;
  background-color: #ffffff;
  padding: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.brImage {
  max-width: 100%;
  height: auto;
  width: 550px;
}

.h2Asr {
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(36, 36, 36), rgb(58, 49, 37));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.h2Asb {
  text-transform: uppercase;
  background: -webkit-linear-gradient(rgb(105, 105, 102), rgb(12, 12, 12));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.revButton {
  background: #fffefe !important;
  box-sizing: border-box !important;
  height: 55px;
  transition: 0.15s ease-out !important;
  border-color: rgb(58, 49, 37) !important;
  -webkit-text-fill-color: rgb(58, 49, 37) !important;
  font-weight: 900 !important;
  font-size: 15px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
}

.revButton:hover {
  background: -webkit-linear-gradient(
    rgb(36, 36, 36),
    rgb(58, 49, 37)
  ) !important;
  transition-property: top, left;
  border-radius: 20px;
  transition-duration: 0.5s !important;

  -webkit-text-fill-color: #ffffff !important;
}

.brButton {
  background: #fffefe !important;
  box-sizing: border-box !important;
  height: 55px;
  transition: 0.15s ease-out !important;
  border-color: rgb(105, 105, 102) !important;
  -webkit-text-fill-color: rgb(105, 105, 102) !important;
  font-weight: 900 !important;
  font-size: 15px !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif !important;
  z-index: 2;
}

.brButton:hover {
  background: -webkit-linear-gradient(
    rgb(105, 105, 102),
    rgb(12, 12, 12)
  ) !important;
  transition-property: top, left;
  border-radius: 20px;
  transition-duration: 0.5s !important;
  -webkit-text-fill-color: #ffffff !important;
}

@media all and (max-device-width: 480px) {
  .brotherRevelations {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .buttonas21 {
    display: flex;
    flex-direction: column;
    margin: 40px;
    height: 120px;
    max-width: 270px;
  }
  @media all and (max-width: 768px) {
    .brotherRevelations {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }

    .buttonas21 {
      display: flex;
      flex-direction: column;
    }

    .brImage {
      max-width: 100%;
      height: auto;
      width: 800px;
    }

    .revImage {
      max-width: 100%;
      height: auto;
      width: 800px;
    }
  }
}

@media all and (max-width: 1024px) {
  .brotherRevelations {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
  }

  .revImage {
    max-width: 100%;
    height: auto;
    width: 900px;
  }

  .brImage {
    max-width: 100%;
    height: auto;
    width: 900px;
  }
}

@media all and (max-width: 1440px) {
  .brotherRevelations {
    display: flex;
    margin: 20px;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .revImage {
    max-width: 100%;
    height: auto;
    width: 750px;
  }

  .brImage {
    max-width: 100%;
    height: auto;
    width: 750px;
  }

  .brLore {
    max-width: 720px;
    margin-bottom: 100px;
    background-color: #ffffff;
    padding: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .revLore {
    max-width: 720px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 15px;
    background-color: #ffffff;
  }
}
@media all and (min-width: 1921px) {
  .revLore {
    font-size: 22px;
    width: 800px !important;
  }
  .revImage {
    width: 800px;
  }
  .brImage {
    width: 800px;
  }

  .h2Asr {
    font-size: 28px;
  }

  .h2Asb {
    font-size: 28px;
  }
  .brLore {
    font-size: 22px;
    width: 800px !important;
  }
  .revButton {
    font-size: 15px;
    width: 200px;
    height: 60px;
    font-size: 20px !important;
  }

  .brButton {
    font-size: 15px;
    width: 200px;
    height: 60px;
    font-size: 20px !important;
  }
}
