.footer{
background-color: rgb(24, 24, 24);
height: 500px;
margin-top: 100px;
text-align: center;
max-width: 100%;
overflow: hidden;
}
  


    .footerHead{
background-color: black;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}
    
    
    
.footerHead >.MuiSvgIcon-root{
color: rgb(0, 0, 0);
height: 20px;
width: 20px;
padding:7px;
margin: 10px;
border-radius: 25px;
background-color: white;
    }
  
    

.footerHead > h6{
color: rgb(97, 93, 93);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
position: absolute;
left: 20px;
    }
  
    

    .gridInfo{
color: #FFFFFF;
padding-top: 50px;
display: inline-grid;
grid-template-columns: 10% auto auto auto auto auto ;
grid-template-rows: 20% 250px auto auto;
grid-template-areas:
"r11 . r12 . r13"
"r21 . r22 . r23"
"r31 . r32 . r33";    
font-size: 15px!important;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
 
    

.logoDown{
height: 70px;
width: 115px;
}
    


    .footerUbi{
left: 4%;
position: absolute;
align-items: center;
text-decoration: underline;
color: #888788;
align-items: center;
    }
    


.footerUbi>h5{
display: table-cell;
padding: 2px;
cursor: pointer;
font-size: 11px;
margin-right: 10px;
font-size: 11px;  
}
  


    .footerUbi1{
display: flex;
    }


.esrb{
display: flex;   
max-width:100%;
height: auto;
  


    }
.footerUbi1> h5{
display: flex;
justify-content: center;
margin-right: 10px;
font-size: 11px; 
        }
    
.esrbInfo{
align-items: center;
display: flex;
justify-content: space-evenly;
flex-direction: row;
margin: -30px;
}
    

    
.Ubisoftp{
justify-content: center;
align-items: center;
margin-left: 230px;
color: #888788;
font-size: 13px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    
    
    
    
    
    
    
    
    
@media all 
and (max-device-width : 1024px)
{
.footerInfo{
display: flex;
flex-direction: column;
padding:20px;
align-items: center;
text-align: center;
justify-content: center;
align-content: center;
overflow: hidden;
}
 
    
.footerUbi{
margin-top: 100px;  
flex-direction: row;
    
   
align-items: center ;
justify-content: center;
display: inline-block;
    }
    
.footerHead >h6{
visibility: hidden;
}
    
    .logoDown{
display: flex;
align-items: center;
justify-content: center;
width: 100px;
height: 50px;
    }
.esrb{
position: absolute;
left: 10%;
}
       
    
  
    
    .gridInfo{
color: #FFFFFF;
padding-top: 50px;
text-align:center;    
font-size: 13px!important;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    }

    @media all and (max-height: 1345px) {
.esrbInfo{
 max-width: 100vw; 
}
    }

   
    @media all and (max-width:458px) {
.esrbInfo{
position: relative;
bottom: 30px;
}
}


      
@media all and (max-width:622px){
.esrbInfo{
position: relative;
bottom: 30px;
left: -10px;
}



.Ubisoftp{
font-size: 11px;
}



}
.esrb{
font-size: 10px;
}


@media all and (max-width:350px){
.esrbInfo{
position: relative;
bottom: 70px;
        }
    }