.header {
  background-color: black;
  max-width: 100%;
  height: 70px;
  align-items: center;
  display: flex;
  color: #fff;
  justify-content: center;
}

.headerNavBar {
  display: flex;
  align-self: end;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
}

.navBarItems {
  padding: 6px;
  justify-items: center;
}

.navBarItems > a:hover {
  color: rgb(255, 255, 255);
}

.navBarItems > a {
  color: rgb(179, 174, 174);
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.logo {
  max-width: 100px;
  color: white;
  height: 60px;
  position: absolute;
  left: 10px;
}

@media all and (max-width: 1024px) {
  .navBarItems > a {
    visibility: hidden;
  }
}

@media all and (min-width: 1921px) {
  .navBarItems > a {
    font-size: 20px;
  }

  .logo {
    width: 110px;
    height: 80px;
  }
}
