.ascf{
    display: flex;
    justify-content: center;
    color: rgb(55, 58, 55);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    }
    
    .ascMainImages{
    max-width: 100%;
    height: auto;
    width: 5550px; 
    }
     
    
    @media all 
    and (max-device-width : 1024px) {
    .ascf{
    font-size: 40px;
    position: relative;
    top: 10px;
    }
    }
      
    
    @media all
    and (max-device-width : 608px) {   
    .ascf{
    font-size: 30px;
    }
    }
    
    @media all  
    and (max-device-width : 420px) {
    .ascf{
    font-size: 20px;
    }
    }
    
    
    
    
    
    
       
        
        
    
    